/* FONT */

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
};

/* CSS RESET */

:root {
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  /* MAIN STYLING  */
  body{
    font-family: "Montserrat",sans-serif;
  }

  main {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    min-height: 100vh;
    background-color: rgba(207, 227, 250, 0.224);
  }

  form {
    background-color: white;
  }

  fieldset {
    border-style: none;

  }

/* FORM DESCRIPTION */

section {
    margin-top: 10rem;
    font-size: 1.3rem;
    font-weight:700;
}

h2 {
    width: 60ch;
}

p + p{
    margin: 1rem 0;
}

i {
    font-style: italic;
}

/* FORM STYLING */

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1.5rem 0; 
    padding: 1rem 0;
}

form {
    box-shadow: 0.7rem 0.5rem 0.5rem #4d648042;
}

fieldset.name,
fieldset.contact-info,
fieldset.password {
    display: flex;
    flex-direction: row;
}

.first-name,
.last-name,
.email,
.phone,
.new-password,
.confirm-password {
display:flex;
flex-direction: column;
width: 26ch;
margin-bottom: 1rem ;
margin-right: 5rem;
}

/* FORM DESCRIPTION */

h1 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

label {
    font-size: 0.6rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

/* FORM INPUT BOXES */

input {
    appearance: none;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

input {
    padding: 0.12rem 0.5rem;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0px;
}

input[type="password"]:invalid {
    border-color: red;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border: 1px solid rgb(92, 151, 245);
    box-shadow: 0.15rem 0.15rem 0.4rem rgb(166, 166, 166);
}

/* BUTTON SECTION */

.create-account {
    margin: 2rem 0 1rem;
}

.log-in {
    margin-top: 2rem;
    font-size: 0.9rem;
    font-weight: 500;
}

a {
    font-weight: 600;
    color: #4d6480;
}

button[type="submit"] {
    padding: 0.6rem 3rem;
    background-color: #4d6480;
    border-radius: 0.5rem;
    border-style: none;
    color: white;
    font-size: 0.85rem;
    font-weight: 700;
    box-shadow: 0.15rem 0.15rem 0.4rem rgb(166, 166, 166);
}







